:root{
  --brand-color: #f00;
  --accent-color: #0f0;
  --bg-color: #efecf6;
  --text-color: #1d1d1d;

  --font-text: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  --font-title: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font: inherit;
}

body.night-mode{
  --bg-color: #17212b;
  --text-color: #efecf6;
}
html, body{
  position: relative;
  background-color: var(--bg-color);
  font-family: var(--font-text);
  font-size: 1rem;
  color: var(--text-color);
  height: 100svh;
  overflow: hidden;
  transition: 0.5s ease-out;
}
a{
  font: inherit;
  color: inherit;
  text-decoration: none;
}

header{
  position: absolute;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1.5rem;
  inset: 0 0 auto;
}

#menu{
  position: relative;
  padding: 1rem;
  background-color: var(--text-color);
  &.open{
    #menu__list{
      width: clamp(10px, calc(100vw - 5rem), 200px);
      height: 38px;
    }
  }
  #menu__button{
    position: relative;
    display: block;
    width: 2rem;
    aspect-ratio: 1;
    padding: 0.25rem;
    margin-left: auto;
    background: none;
    border: none;
    .menu__bar{
      position: absolute;
      width: calc(100% - 0.5rem);
      height: 2px;
      background-color: var(--bg-color);
      &:nth-child(1){
        top: 0.5rem;
        left: 50%;
        translate: -50% 0;
      }
      &:nth-child(2){
        top: 50%;
        left: 50%;
        translate: -50% -50%;
      }
      &:nth-child(3){
        bottom: 0.5rem;
        left: 50%;
        translate: -50% 0;
      }
    }
  }
  #menu__list{
    width: 0;
    height: 0;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    li{
      a{
        color: var(--bg-color);
      }
    }
  }
}

#project-infos{
  position: absolute;
  top: 50%;
  left: 5vw;
  translate: 0 -50%;
  width: clamp(10px, 40%, 500px);  
  #project-infos__title{
    font-family: var(--font-title);
    font-size: clamp(1.5rem, -0.875rem + 8.333vw, 3.5rem);
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
  }
  #project-infos__desc{
    
  }
  a#project-infos__link{
    position: relative;
    display: inline-block;
    margin-top: 1rem;
  }
}

#navigation-slider{
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
}